/build/
/third_party/*/build/
/third_party/*/CMakeFiles/
/third_party/*/CMakeCache.txt
/CMakeFiles/
/CMakeCache.txt
Makefile
cmake_install.cmake
/third_party/rpclib-src/
/third_party/rpclib-build/
rst.sh
/third_party/kafka_2.13-3.9.1